body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	overflow-x: hidden;
}

.hero {
	width: 100vw;
	background-color: #ffffff;
	display: grid;
	place-items: center;
	font-size: 2rem;
	user-select: none;
}
.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.scroller {
	width: 100vw;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #f1f3f6;
}

.scroll-row {
	display: flex;
	width: max-content;
	height: auto;
	will-change: transform;
}

.scroll-element {
	width: 100vw;
	height: auto;
	box-sizing: border-box;
	padding: 1rem;
	flex-shrink: 0;
}

.item {
	border-radius: 1rem;
	overflow: hidden;
}

.item img {
	width: 100%;
	height: auto;
	object-fit: contain;
}

@media (max-width: 768px) {
	.scroll-element {
		padding: 0.5rem;
	}
	.item img {
		object-fit: contain;
	}
}
